<!-- <div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Today's Todo</a>
      <span class="navbar-brand" style="padding-left: 150px"
        >{{ currentDate }}
      </span>
    </div>
  </div>
  <div class="nav navbar navbar-center" style="padding-left: 200px">
    <span> Enter a task </span>
    <input type="text" placeholder="Clean Kitchen" [(ngModel)]="taskInput" />
    <button class="btn btn-primary" (click)="onAddTask()">Add Task</button>
  </div>
</div> -->
