.container {
  backdrop-filter: blur(5px);
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#submit {
  background-color: lightblue; /* Adjust this color to stand out */
  color: green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
  margin-left: 10px;
}

#submit:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-status-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  text-align: center;
  color: red;
}

.task-status-message {
  background-color: #4caf50;
}
