<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
      <div class="p-3 border rounded">
        <h2>📝Sign up to Join our Community!</h2>
        <form class="form-group" #f="ngForm" (ngSubmit)="onLogin(f)">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              name="email"
              email
              ngModel
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter your password"
              name="password"
              ngModel
              required
              minlength="6"
            />
          </div>
          <div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
              {{ isLoginMode ? "Login" : "Sign Up" }}
            </button>
            |
            <button
              type="button"
              class="btn btn-primary"
              (click)="onSwitchMode()"
            >
              Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <img
        src="https://source.unsplash.com/random/400x300?chores"
        alt="People doing chores"
        class="img-fluid mb-3"
      />
      <img
        src="https://source.unsplash.com/random/400x300?chores,work"
        alt="More people doing chores"
        class="img-fluid"
      />
    </div>
  </div>
</div>
